# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
backend/.venv/
backend/.pytest_cache/
backend/.env
.env
backend/app/config/calendar_credentials.json

# Node
frontend/node_modules/
frontend/dist/

# Logs
*.log

# OS
.DS_Store
